body {
    background-color: #E5E5E5;
}

.container{
    position: relative;
    max-width: 93%;
    margin: 0 auto;
}

header {
    position: relative;
    top: 0;
    height: 90px;
}

header a:hover{
    color: white;
}

.red {
    position: absolute;
    height: 60px;
    width: 100%;
    background: #F82323;
}

.hed_logo {
    position: relative;
    top: -10px;
}

.hed_text {
    position: relative;
    top: 5px;
    font-family: "Roboto Black";
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    position: absolute;
    width: 100%;
    height: 105px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .3);
    z-index: 4;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: normal;
    -webkit-box-pack: justify;
    padding: 13px 0;
    margin-top: -3px;
    list-style-type: none;
}

.menu .menu_link {
    color: #000;
    font-family: "Roboto Medium" ;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
}

.menu .menu_label {
    color: #000;
    font-family: "Roboto Medium" ;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.menu button:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #F82323; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.menu button:hover:after{
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu .menu_item_1 {
    position: absolute;
}

.menu .menu_item_3 {
    position: absolute;
    right: 235px;
}

.menu .menu_item_4 {
    position: absolute;
    right: 0;
}

.container-3{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-3 input#search{
    width: 300px;
    height: 39px;
    font-size: 10pt;
    margin-top: -4px;
    float: left;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

.search_magnifier {
    display: block;
    align-items: center;
    width: 30px;
    height: 24px;
    min-height: 32px;
}

.container-3 input:focus{
    outline: none;
}

button_plus{
    position: absolute;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 30px;
    margin-top: -5px;
    left: 89%;
}

.dropdown a{
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    left: 90%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.menu .menu_item {
    justify-content: center;
}

.box {
    display: block;
    margin: 0 auto auto auto;
}

.profile {
    margin-top: 37px;
    background-color: #E5E5E5;
}

.fon_profile {
    width: 100%;
    min-height: 444px;
    background: #FFFFFF;
}

.fon_profile .photo {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 227px;
    margin: 20px auto auto 30px;
}

.fon_profile .photo_descr {
    font-family: "Roboto Medium";
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-left: -10px;
}

.photo_polz {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    text-align: center;
}

.fon_profile .round {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    text-align: center;
}

.fon_profile .polya {
    display: inline-block;
    background: none;
    width: 22%;
    height: 350px;
    margin-top: 35px;
}

.fon_profile .txt_nazv{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    color: #4D4D4D;
    padding: 0 0 16px 0;
}

.fon_profile .txt_pole{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.fon_profile .txt_pole hr{
    margin-top: 2px;
}

.profile .photo .button_red{
    margin-top: 19px;
    width: 155px;
    height: 46px;
    border: none;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 8px;
}

.profile .button_add {
    display: block;
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #F82323;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

.pop_up_body_red {
    display: flex;
    margin: 40px auto auto auto;
    width: 1000px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.pop_up_body_red .photo_red {
    display: flow-root;
    vertical-align: top;
    text-align: center;
    width: 160px;
    margin-top: 40px;
    margin-left: 20px;
}

.pop_up_body_red .round {
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    text-align: center;
    margin: auto;
}

.pop_up_body_red .add_photo {
    position: absolute;
    display: flex;
    margin: -76px auto auto 47px;
}

.pop_up_body_red .button_save{
    width: 160px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background-color: #0DB6EC;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-top: 50px;
}

.pop_up_body_red .polya {
    display: inline-block;
    background: none;
    width: 320px;
    height: 270px;
    margin-top: 20px;
}

.pop_up_body_red .txt_nazv{
    display: flex;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    color: #4D4D4D;
    padding: 16px 0 16px 0;
}

.pop_up_body_red .input_red{
    width: 320px;
    padding: 4px 13px;
    background: none;
    border: 1px solid #878787;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.pop_up_body_red input:focus{
    outline: none;
}

.pop_up_body_add {
    display: block;
    margin: 40px auto auto auto;
    width: 690px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.pop_up_body_add .headtext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin: 31px auto auto auto;
}

.pop_up_body_add .polya{
    display: inline-block;
    background: none;
    width: 240px;
    height: 137px;
    margin-top: 20px;
}

.pop_up_body_add .jpg{
    display: inline-block;
    background: none;
    width: 320px;
    height: 123px;
    margin-top: 20px;
}

.pop_up_body_add .txt_nazv{
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #0DB6EC;
    padding: 7px 0 7px 0;
}

.pop_up_body_add .input_add{
    width: 240px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #878787;
    box-sizing: border-box;
    border-radius: 3px;
}

.pop_up_body_add .photo{
    width: 322px;
    height: 140px;
    background: #606060;
}

.pop_up_body_add .button_upload{
    margin: 25px auto auto 300px;
    width: 160px;
    height: 28px;
    border: none;
    border-radius: 3px;
    background-color: #0DB6EC;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.pop_up_body_add .input_descr{
    width: 591px;
    height: 104px;
    background: #FFFFFF;
    border: 1px solid #878787;
    box-sizing: border-box;
    border-radius: 3px;
}

.pop_up_body_add .descr{
    display: block;
    background: none;
    width: 240px;
    height: 137px;
    margin-left: 35px;
}

.pop_up_body_add .button_drop{
    display: block;
    width: 160px;
    height: 43px;
    border: none;
    border-radius: 3px;
    background-color: #F82323;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: auto auto auto auto;
    margin-top: 20px;
}


.blogi {
    background-color: #C4C4C4;
}

.blogi .head{
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.blogi_prof {
    background-color: #E5E5E5;
}

.blogi .fon {
    display: block;
    position: relative;
    background-color: #E5E5E5;
    margin-top: 15px;
    z-index: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blogi .fon {
    display: block;
    position: relative;
    background-color: #E5E5E5;
    margin-top: 15px;
    z-index: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blogi .col-md-8 {
    z-index: 4;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
}

.blogi .blogi_block {
    position: relative;
    height: 610px;
    z-index: -1;
}

.blogi_block .polz {
    display: flex;
    width: 160px;
    height: 50px;
    margin: 40px 13px 17px 80%;
}

.blogi_block .polz_text{
    font-family: "Roboto Medium";
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
    margin-right: 3px;
}

.blogi_block .photo_href{
    width: 34px;
    height: 34px;
}

.blogi_block .text_href{
    width: 75px;
    height: 24px;
}

.blogi_block .polz_name{
    font-family: "Roboto Medium";
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    margin-top: 6px;
    margin-left: 3px;
}

.blogi_block a{
    text-decoration: none;
}

.blogi_block .polz_name:hover{
    color: #F82323;
}

.blogi .blogi_block .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 23px;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.blogi .blogi_block .subtitle {
    margin-top: 35px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    z-index: 2;
}

.blogi .blogi_block .screen {
    display: block;
    background-color: black;
    margin: 60px auto auto auto;
    width: 70%;
    height: 345px;
}

.blogi .blogi_image {
    margin: -75px auto 34px 3%;
}

.blogi .blogi_image .comment {
    margin-left: 50px;
}

.futer{
    max-height: 126px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.futer .info {
    display: flex;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.futer .logotip{
    display: flex;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin: -17px auto -49px 30px;
}

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 100;
    display: none;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body_register {
    margin: 40px auto auto auto;
    width: 510px;
    height: 474px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.pop_up_body_register input {
    display: block;
    margin: 25px auto 0px auto;
    width: 449px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 3px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.pop_up_body_register input:focus{
    outline: none;
}

.pop_up_body_register button1 {
    cursor: pointer;
    display: inline-block;
    margin: 18px 152px -11px 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    opacity: .4;
}

.pop_up_body_register button1:hover {
    opacity: 1;
}

.pop_up_body_register button2 {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.pop_up_body_register button3 {
    cursor: pointer;
    display: block;
    width: 350px;
    height: 40px;
    margin: 22px auto 35px auto;
    padding: 11px 0px;
    background-color: #1F1F1F;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pop_up_body_register button3:hover{
    color: #F82323;
}

.pop_up_close{
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 32px;
    cursor: pointer;
    color: black;
    opacity: .4;
}

.pop_up_close:hover{
    opacity: 1;
}

.pop_up_body_vxod {
    margin: 40px auto auto auto;
    width: 510px;
    height: 315px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.pop_up_body_vxod input {
    display: block;
    margin: 25px auto 0px auto;
    width: 449px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 3px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.pop_up_body_vxod input:focus{
    outline: none;
}

.pop_up_body_vxod button2 {
    cursor: pointer;
    display: inline-block;
    margin: 18px -7px -28px 151px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    opacity: .4;
}

.pop_up_body_vxod button2:hover {
    opacity: 1;
}

.pop_up_body_vxod button1 {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.pop_up_body_vxod button3 {
    cursor: pointer;
    display: block;
    width: 350px;
    height: 40px;
    margin: 22px auto 35px auto;
    padding: 11px 0px;
    background-color: #1F1F1F;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pop_up_body_vxod button3:hover{
    color: #F82323;
}

.color {
    background-color: #0DB6EC
}

.show {
    background-color: green;
}


